.Loading_beat_loading__2e_cR {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  -moz-box-align: center;
  align-items: center;
  z-index: 99;
}

.Home_container__38zYD {
  min-height: 100vh;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

.Home_logo_soroban__GILaP {
  position: absolute;
  cursor: pointer;
}

.Home_logo_soroban__GILaP img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .Home_logo_soroban__GILaP {
    width: 320px;
    top: -39px;
    left: -webkit-calc(50% - 320px/2);
    left: -moz-calc(50% - 320px/2);
    left: calc(50% - 320px / 2);
    right: -webkit-calc(50% - 320px/2);
    right: -moz-calc(50% - 320px/2);
    right: calc(50% - 320px / 2);
  }
}

@media screen and (max-width: 1024px) {
  .Home_logo_soroban__GILaP {
    width: 256px;
    top: -31px;
    left: -webkit-calc(50% - 256px/2);
    left: -moz-calc(50% - 256px/2);
    left: calc(50% - 256px / 2);
    right: -webkit-calc(50% - 256px/2);
    right: -moz-calc(50% - 256px/2);
    right: calc(50% - 256px / 2);
  }
}

.Home_reload_icon__22T0W {
  position: absolute;
  z-index: 99;
}

@media only screen and (min-width: 641px) {
  .Home_reload_icon__22T0W {
    top: 36px;
    right: -webkit-calc(50% - 48px);
    right: -moz-calc(50% - 48px);
    right: calc(50% - 48px);
  }
}

@media only screen and (max-width: 640px) {
  .Home_reload_icon__22T0W {
    top: -1px;
    right: -webkit-calc(50% - 48px);
    right: -moz-calc(50% - 48px);
    right: calc(50% - 48px);
  }
}

.Home_reload_icon__22T0W button {
  background-color: transparent;
  width: 96px;
  height: 96px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Home_reload_icon__22T0W button img {
  width: 100%;
  height: auto;
}

.Home_reload_icon__22T0W button:focus {
  outline: none;
}

.Home_main__37Tob {
  position: relative;
  width: 100%;
  min-height: -webkit-calc(100vh - 100px - 256px);
  min-height: -moz-calc(100vh - 100px - 256px);
  min-height: calc(100vh - 100px - 256px);
  display: grid;
  -moz-box-align: center;
  align-items: center;
  padding: 40px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (min-width: 641px) {
  .Home_main__37Tob {
    margin: 128px 0 0;
  }
}

@media only screen and (max-width: 640px) {
  .Home_main__37Tob {
    margin: 96px 0 0;
  }
}

.Home_main__37Tob h1.Home_title__21FyB {
  font-size: 48px;
  color: #fff;
  margin: 0 0 12px;
}

.Home_main__37Tob .Home_code__2eBcp {
  text-align: center;
  color: #fafafa;
  font-family: big_whaleregular;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 254px;
  height: 64px;
  position: absolute;
  z-index: 99;
  top: 0;
  left: -webkit-calc(50% - 254px/2);
  left: -moz-calc(50% - 254px/2);
  left: calc(50% - 254px / 2);
  right: -webkit-calc(50% - 254px/2);
  right: -moz-calc(50% - 254px/2);
  right: calc(50% - 254px / 2);
  -moz-box-align: center;
  align-items: center;
  display: grid;
}

.Home_main__37Tob .Home_code__2eBcp span {
  padding: 8px 0 0;
  font-size: 32px;
  letter-spacing: 0.3rem;
}

.Home_main__37Tob .Home_grid__1XYpn {
  position: relative;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1025px) {
  .Home_main__37Tob .Home_grid__1XYpn {
    height: 500px;
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .Home_main__37Tob .Home_grid__1XYpn {
    height: 380px;
    margin: 40px auto 0;
  }
}

@media (max-width: 600px) {
  .Home_main__37Tob .Home_grid__1XYpn {
    width: 100%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
}

aside.Home_left_sidebar__16iMy {
  position: fixed;
  width: 320px;
  height: 100vh;
  background-color: #ffc580;
  display: none;
  top: 0;
  left: -320px;
  padding: 0 12px 0 0;
  z-index: 9999;
  -webkit-box-shadow: -34px 0 20px 40px rgba(0, 3, 32, 0.75);
  box-shadow: -34px 0 20px 40px rgba(0, 3, 32, 0.75);
  -webkit-transition: 1ms;
  -moz-transition: 1ms;
  transition: 1ms;
}

aside.Home_left_sidebar__16iMy.Home_active__npnSe {
  width: 320px;
  left: 0;
  display: block;
  -webkit-transition: 1ms;
  -moz-transition: 1ms;
  transition: 1ms;
}

aside.Home_left_sidebar__16iMy .Home_box__1b2mL {
  overflow-y: auto;
  background-color: #ffeccf;
  height: 100vh;
  padding: 48px 12px 96px;
  -webkit-box-shadow: -4px 0 2px 6px #e99c51;
  box-shadow: -4px 0 2px 6px #e99c51;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd {
  position: relative;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_select_box__1RsZJ {
  display: block;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp {
  position: relative;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  -moz-box-align: center;
  align-items: center;
  margin: 0 0 24px;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_name__3qS0v {
  position: relative;
  margin: 0 12px 12px 0;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_name__3qS0v span {
  color: #01054c;
  font-size: 16px;
  font-weight: 600;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_decimal_num__1JFFZ,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_soroban_color__3PBHM,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_soroban_num__3Fufi {
  position: relative;
  display: -moz-box;
  display: flex;
  flex-wrap: wrap;
  -moz-box-align: center;
  align-items: center;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp .Home_value__Cz7Wx {
  position: relative;
  width: 56px;
  margin: 0 12px 0 0;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp.Home_decimal_name__1-PJt .Home_name__3qS0v,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_decimal__3_qAp.Home_decimal_name__1-PJt .Home_value__Cz7Wx {
  margin: 0 12px 12px 0;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd .Home_cta_reload__2GQru {
  position: relative;
  margin: 0;
  width: 100%;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button {
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_reload_soroban__7pE16 {
  width: 100%;
  height: 64px;
  padding: 0 14px;
  background: #f9f32f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f32f), to(#ef8d01));
  background: -webkit-linear-gradient(top, #f9f32f, #ef8d01);
  background: -moz-linear-gradient(top, #f9f32f 0, #ef8d01 100%);
  background: linear-gradient(180deg, #f9f32f, #ef8d01);
  color: #9c3f00;
  border: 4px solid #fe7d1f;
  font-size: 24px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_reload_soroban__7pE16:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_reload_soroban__7pE16:hover {
  background: #f9f32f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f32f), to(#ef8d01));
  background: -webkit-linear-gradient(top, #f9f32f, #ef8d01);
  background: -moz-linear-gradient(top, #f9f32f 0, #ef8d01 100%);
  background: linear-gradient(180deg, #f9f32f, #ef8d01);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_num__1HBod {
  min-width: 40px;
  height: 40px;
  padding: 0 14px;
  background-color: #fccb90;
  border: 2px solid #ffc580;
  color: #9c3f00;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  margin: 0 12px 12px 0;
  cursor: pointer;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_num__1HBod:last-child {
  margin: 0 0 12px;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_num__1HBod.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_num__1HBod:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_num__1HBod:hover {
  background: #f9f32f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f32f), to(#ef8d01));
  background: -webkit-linear-gradient(top, #f9f32f, #ef8d01);
  background: -moz-linear-gradient(top, #f9f32f 0, #ef8d01 100%);
  background: linear-gradient(180deg, #f9f32f, #ef8d01);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb {
  width: 40px;
  height: 40px;
  padding: 0 14px;
  background-color: #01054c;
  color: #98acfc;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  margin: 0 12px 12px 0;
  cursor: pointer;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb:last-child {
  margin: 0 0 12px;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb:hover {
  background-color: #0423a0;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_yellow__285tB {
  background-color: #ffaa02;
  color: #131313;
  border: 2px solid #ffaa02;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_yellow__285tB.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_yellow__285tB:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_yellow__285tB:hover {
  border: 2px solid #ff5e0f;
  background: #ffaa02;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaa02), to(#ff5e0f));
  background: -webkit-linear-gradient(top, #ffaa02, #ff5e0f);
  background: -moz-linear-gradient(top, #ffaa02 0, #ff5e0f 100%);
  background: linear-gradient(180deg, #ffaa02, #ff5e0f);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_blue__2LmhV {
  background-color: #0f90ff;
  color: #131313;
  border: 2px solid #0f90ff;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_blue__2LmhV.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_blue__2LmhV:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_blue__2LmhV:hover {
  border: 2px solid #0359ff;
  background: #0f90ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f90ff), to(#0359ff));
  background: -webkit-linear-gradient(top, #0f90ff, #0359ff);
  background: -moz-linear-gradient(top, #0f90ff 0, #0359ff 100%);
  background: linear-gradient(180deg, #0f90ff, #0359ff);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_pink__dcRUd {
  background-color: #f516e1;
  color: #131313;
  border: 2px solid #f516e1;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_pink__dcRUd.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_pink__dcRUd:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_pink__dcRUd:hover {
  border: 2px solid #c5097d;
  background: #f516e1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f516e1), to(#c5097d));
  background: -webkit-linear-gradient(top, #f516e1, #c5097d);
  background: -moz-linear-gradient(top, #f516e1 0, #c5097d 100%);
  background: linear-gradient(180deg, #f516e1, #c5097d);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_luc__3cwNc {
  background-color: #00fbf9;
  color: #131313;
  border: 2px solid #00fbf9;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_luc__3cwNc.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_luc__3cwNc:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_luc__3cwNc:hover {
  border: 2px solid #00bdc0;
  background: #00fbf9;
  background: -webkit-gradient(linear, left top, left bottom, from(#00fbf9), to(#00bdc0));
  background: -webkit-linear-gradient(top, #00fbf9, #00bdc0);
  background: -moz-linear-gradient(top, #00fbf9 0, #00bdc0 100%);
  background: linear-gradient(180deg, #00fbf9, #00bdc0);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tia__2p6PK {
  background-color: #f1175d;
  color: #131313;
  border: 2px solid #f1175d;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tia__2p6PK.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tia__2p6PK:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tia__2p6PK:hover {
  border: 2px solid #c40443;
  background: #f1175d;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1175d), to(#c40443));
  background: -webkit-linear-gradient(top, #f1175d, #c40443);
  background: -moz-linear-gradient(top, #f1175d 0, #c40443 100%);
  background: linear-gradient(180deg, #f1175d, #c40443);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tim__3Pg85 {
  background-color: #b747e3;
  color: #131313;
  border: 2px solid #b747e3;
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tim__3Pg85.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tim__3Pg85:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_tim__3Pg85:hover {
  border: 2px solid #54149f;
  background: #b747e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#b747e3), to(#54149f));
  background: -webkit-linear-gradient(top, #b747e3, #54149f);
  background: -moz-linear-gradient(top, #b747e3 0, #54149f 100%);
  background: linear-gradient(180deg, #b747e3, #54149f);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_dark_theme__JfV3L {
  background-color: #3a0475;
  color: #131313;
  border: 2px solid #3a0475;
}

aside.Home_left_sidebar__16iMy
  .Home_filter__2wHdd
  button.Home_set_color__zKuZb.Home_dark_theme__JfV3L.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_dark_theme__JfV3L:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_dark_theme__JfV3L:hover {
  border: 2px solid #3a0475;
  background: #3a0475;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a0475), color-stop(80%, #000333));
  background: -webkit-linear-gradient(top, #3a0475, #000333 80%);
  background: -moz-linear-gradient(top, #3a0475 0, #000333 80%);
  background: linear-gradient(180deg, #3a0475, #000333 80%);
}

aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_light_theme__uqbUE {
  color: #131313;
  background-color: #fccb90;
  border: 2px solid #ffc580;
}

aside.Home_left_sidebar__16iMy
  .Home_filter__2wHdd
  button.Home_set_color__zKuZb.Home_light_theme__uqbUE.Home_active__npnSe,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_light_theme__uqbUE:focus,
aside.Home_left_sidebar__16iMy .Home_filter__2wHdd button.Home_set_color__zKuZb.Home_light_theme__uqbUE:hover {
  border: 2px solid #ffc580;
  background: #ffeccf;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeccf), color-stop(80%, #ffc580));
  background: -webkit-linear-gradient(top, #ffeccf, #ffc580 80%);
  background: -moz-linear-gradient(top, #ffeccf 0, #ffc580 80%);
  background: linear-gradient(180deg, #ffeccf, #ffc580 80%);
}

.Home_menu__24cCY {
  position: fixed;
  top: 12px;
  left: 24px;
  z-index: 999;
}

.Home_menu__24cCY button {
  background-color: transparent;
  width: 96px;
  height: 96px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Home_menu__24cCY button img {
  width: 100%;
  height: auto;
}

.Home_menu__24cCY button:focus {
  outline: none;
}

.Home_close_menu__2wZBN {
  position: absolute;
  z-index: 99;
}

@media only screen and (min-width: 641px) {
  .Home_close_menu__2wZBN {
    top: 12px;
    right: -96px;
  }
}

@media only screen and (max-width: 640px) {
  .Home_close_menu__2wZBN {
    top: 12px;
    right: -14px;
  }
}

.Home_close_menu__2wZBN button {
  background-color: transparent;
  width: 96px;
  height: 96px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Home_close_menu__2wZBN button img {
  width: 100%;
  height: auto;
}

.Home_close_menu__2wZBN button:focus {
  outline: none;
}

.Home_footer__bfZex {
  position: relative;
  width: 100%;
  height: 100px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  bottom: 0;
}

.Home_footer__bfZex img {
  margin-left: 0.5rem;
}

.Home_footer__bfZex a {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  color: #fff;
}

.Home_title__21FyB a {
  color: #0070f3;
  text-decoration: none;
}

.Home_title__21FyB a:active,
.Home_title__21FyB a:focus,
.Home_title__21FyB a:hover {
  text-decoration: underline;
}

.Home_title__21FyB {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.Home_description__2X-ER,
.Home_title__21FyB {
  text-align: center;
}

.Home_description__2X-ER {
  line-height: 1.5;
  font-size: 1.5rem;
}

.Home_card__3AhjP {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease, border-color 0.15s ease;
  -moz-transition: color 0.15s ease, border-color 0.15s ease;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.Home_card__3AhjP:active,
.Home_card__3AhjP:focus,
.Home_card__3AhjP:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.Home_card__3AhjP h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.Home_card__3AhjP p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.Home_logo__2IRws {
  width: 64px;
}

.Home_logo__2IRws img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
